body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

.top img {
        width: 400px;
        height: 250px;
    }

.middle-top img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882F6;
}

.text {
    color: #1f2937;
}
.header,
.top {
    background-color: #1F2937;
    }

.header {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 30px;
}

.right-side {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;;
}

.text-title,
.link {
    font-size: 18px;
    color: #e5e7eb;
}

.top {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.top-body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.top-text {
    display: flex;
    flex-direction: column;
    flex: 0 1 400px;
    gap: 10px;
}

.top-button {
    background-color: #3882F6;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

.middle-top {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 100px;
}

.image-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.images-middle {
    display: flex;
    gap: 52px;
}
.image-info {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.middle-bottom {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-box {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 26px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 1100px;
}

.quote-name {
    font-weight: 800;
    color: #1f2937;
    align-self: flex-end;
}

.bottom {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    width: 900px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-radius: 10px;
    padding: 10px 10px;
}

.blue-box div {
    color: #e5e7eb;
}

.blue-title {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
}

.blue-button {
    border-style: solid;
    border-radius: 8px;
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #e5e7eb;
}